/* Write CSS Here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.full {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    
    margin: 27mm 16mm 27mm 16mm;
    border:solid
}
.left {
    position: initial;
    padding: 20px;
    font-size: 12px;
 
}
.right {
    position: initial;
    padding: 20px;
 
}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
    margin-bottom: 30px;
}

.h2 {
    background-color: rgb(4, 96, 150);
}
